%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
- if user_signed_in?
  = render partial: 'comments/form', locals: {commentable: @movie, comment: Comment.new}
- else
  %p
    = link_to  'Sign in to leave a comment', new_user_session_path
= render partial: 'comments/comments_list', locals: {commentable: @movie, comments: @movie.comments}