%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
= render partial: 'comments/form', locals: {commentable: @movie}
= render partial: 'comments/comments_list', locals: {comments: @comments}